{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <title>WorldOfSpeed</title>
</head>
<body>
<div id="box">
    <!-- Header / Navigation Bar -->
    <header>
        <h1>
            <a class="index-navigation" href="{% url 'home' %}">
                <span>World of Speed</span>
            </a>
        </h1>
        <nav>
            {% if not profile %}
                <a href="{% url 'profile-create' %}">Create Profile</a>
            {% else %}
                <a href="{% url 'catalogue' %}">Catalogue</a>
                <a href="{% url 'create-car' %}">Create Car</a>
                <a href="{% url 'profile-details' %}">Profile</a>
            {% endif %}
        </nav>
    </header>

    <!-- Page content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer>&copy;SoftUni Team 2024. All rights reserved.</footer>
</div>
</body>
</html>
